name: Darwin
on:
    pull_request: {}
    push: {}
jobs:
  build:
    name: Unit Tests
    runs-on: macos-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v4
      with:
        go-version: ^1.16
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Run unit tests
      run: |
        go version
        go test -v -race ./pkg/...
