name: Darwin
on:
    pull_request: {}
    push: {}
jobs:
  build:
    name: Unit Tests
    runs-on: macos-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Run unit tests
      run: go test -v -race ./pkg/...
