name: Windows Tests
on:
    pull_request: {}
    push: {}
jobs:
  build:
    strategy:
      matrix:
        go: [ '^1.16' ]
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Windows Unit Tests
        run: |
          go version
          go test -v -race ./pkg/...
